<div>
    <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0"> notification</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below before"> notification</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below after"> notification</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="above before"> notification</span>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <span matBadge="5" matBadgeSize="small"> notification</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="medium"> notification</span>
</div>   
<div>
    <span matBadge="5" matBadgeSize="large"> notification</span>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <span matBadge="5" matBadgeColor="primary"> notification</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="accent"> notification</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false"> notification</span>
</div>

